#jokes
{
    background-color:yellow;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
.main{
    background-color:yellowgreen;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}